layout {
    cwd "/home/n0ko/Programs/ai/computeCommander"
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
        children
    }
    tab name="[CMDR] Dashboard v0.2.0" {
        pane size=1 borderless=true {
            command "bash"
            args "/home/n0ko/.computecommander/scripts/focus-watcher-wrapper.sh"
        }
        pane split_direction="horizontal" {
            pane split_direction="vertical" size="67%" {
                pane split_direction="horizontal" size="10%" {
                    pane name="Prompt" size=1 borderless=true {
                        command "cmdr"
                        args "prompt" "--pane"
                    }
                    pane {
                        command "bash"
                        args "/home/n0ko/.computecommander/scripts/fp-wrapper.sh" "/home/n0ko/Programs/ai/computeCommander" "e33fa584"
                    }
                }
                pane size="67%" focus=true borderless=true {
                    command "bash"
                    args "/home/n0ko/.computecommander/scripts/cmdr-agent-wrapper.sh" "e33fa584"
                }
                pane split_direction="horizontal" size="23%" {
                    pane name="Agents" size="70%" {
                        command "cmdr"
                        args "status" "--pane"
                    }
                    pane name="Jira" size="30%" {
                        command "cmdr"
                        args "jira" "--pane"
                    }
                }
            }
            pane split_direction="vertical" size="33%" {
                pane name="Event Log" size="20%" {
                    command "cmdr"
                    args "feed" "--pane"
                }
                pane name="Evals" size="20%" {
                    command "cmdr"
                    args "evals" "--pane"
                }
                pane name="OpenBrain" size="30%" {
                    command "cmdr"
                    args "openbrain" "--pane"
                }
                pane size="30%" {
                    command "bash"
                    args "/home/n0ko/.computecommander/scripts/lazygit-wrapper.sh" "/home/n0ko/Programs/ai/computeCommander" "e33fa584"
                }
            }
        }
    }
}
